<div class="filters">
  <!-- Sélecteur de catégorie -->
  <mat-form-field appearance="outline" class="category-filter">
    <mat-label>Sélectionner une catégorie</mat-label>
    <mat-select [(value)]="selectedCategory"
      (selectionChange)="onCategoryChange($event.value)">
      @for (c of categories; track c.value) {
      <mat-option [value]="c.value"> {{ c.label }} </mat-option>
    }@empty {
      <mat-option disabled>Aucune catégorie</mat-option>
    }
    </mat-select>
  </mat-form-field>

  <!-- Champ de recherche -->
  <mat-form-field appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      [formControl]="searchText"
      placeholder="Rechercher"
      (input)="applyFilters()"
    />
  </mat-form-field>

  <!-- Bouton reset -->
  <button
    mat-stroked-button
    color="primary"
    (click)="resetFilters()"
  >
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<!-- Liste des produits -->
<div class="cards-grid">
  @for (product of pagedItems; track product.id) { 
  <mat-card class="product-card" (click)="goToProduct(product.id)">
    <img
      mat-card-image
      [src]="product.imageUrl"
      alt="product.product_name"
    />
    <mat-card-title class="product-title">{{ product?.product_name }}</mat-card-title>
    <mat-card-subtitle>{{ product.category | category }}</mat-card-subtitle>

    <mat-card-content class="product-content">
      <p>{{ product?.price | currency: 'EUR' }}</p>
    </mat-card-content>

    <mat-card-actions class="product-actions">
      <button
        mat-raised-button
        color="accent"
        (click)="addToCart(product.id, $event)"
      >
        <mat-icon>shopping_cart</mat-icon>
        Ajouter au panier
      </button>
    </mat-card-actions>
  </mat-card>
  } @empty {
    <p>Aucun produit trouvé.</p>
  }
</div>

<!-- Pagination -->
<mat-paginator
  [length]="totalItems"
  [pageSize]="itemsPerPage"
  [pageSizeOptions]="[4, 8, 12]"
  (page)="onPageChange($event)"
>
</mat-paginator>
